:root {
	font-size: 20px;
	--background-color: #414141;
	--theme-color: #31ae63;
	--text-color: white;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: var(--background-color);
	padding: 12px;
	margin: 0;
	color: var(--text-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.wrapper {
	height: 100%;
}

@media (min-width: 600px) {
	.wrapper {
		min-width: 480px;
	}
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}

#display {
	margin: 20px 0;
	margin-bottom: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	font-family: "Roboto Mono", monospace;
	text-align: right;
	max-width: 520px;
}

#display #input-display {
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: 600;
	color: white;
	text-align: right;
	background: none;
	border: none;
	width: 100%;
}

#display #input-display:focus {
	outline: none;
}

#display #output-display {
	margin-top: 10px;
	opacity: 0.6;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: 100%;
	min-height: 40px;
	overflow-wrap: normal;
}

#buttons-container {
	max-width: 450px;
}

#buttons-container > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 12px;
	height: auto;
}

#buttons-container #basic-buttons {
	margin-bottom: 32px;
}

#buttons-container #basic-buttons #equal-button {
	margin-left: auto;
}

#buttons-container button {
	--background-color: #6d6d6d;
	--text-color: white;
	background-color: var(--background-color);
	color: var(--text-color);
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	min-width: 45px;
	font-size: 0.9rem;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
